sb-dashboard-head(title='Add Address', [hideBreadcrumbs]=false)
div.row
    div.col-12.col-md-6.mb-2
        label(for="addressType") Address Type
        select#addressType.form-control((change)="changeEvent($event, 'addressType')", [value]="modelAddressType")
            option(*ngFor="let type of addressType", [value]='type') {{type}}
    div.col-12.col-md-6.mb-2
        div.col-12.px-0
            span Primary
        div
            div.col-12.custom-control.custom-switch
                input.custom-control-input#primaryFlag(type="checkbox", [checked]="modelPrimaryFlag", (change)="changeEvent($event,'primaryFlag')")
                label.custom-control-label(for="primaryFlag")
    div.col-12.col-md-6.mb-2
        label(for="address") Address
        textarea.form-control#address(placeholder="Enter your address detail", (change)="changeEvent($event, 'address')", [value]="modelAddress")
    div.col-12.col-md-6.mb-2
        label(for="city") City
        input.form-control#city(type="text", placeholder="Enter City", (change)="changeEvent($event, 'city')", [value]="modelCity")
    div.col-12.col-md-6.mb-2
        label(for="country") Country
        input.form-control#country(type="text", placeholder="Enter Country e.g. Indonesia", (change)="changeEvent($event, 'country')", [value]="modelCountry")
    div.col-12.col-md-6.mb-2
        label(for="zipCode") ZIP Code
        input.form-control#zipCode(type="text", placeholder="e.g. 4546", (change)="changeEvent($event, 'zipCode')", [value]="modelZipcode")
    div.col-12.col-md-6.mb-2
        label(for="stayStatus") Stay Status
        select#stayStatus.form-control((change)="changeEvent($event, 'stayStatus')", [value]="modelStatuStay")
            option(*ngFor="let status of stayStatus", [value]='status') {{status}}
    div.col-12.col-md-6.mb-2
        label(for="province") Province
        input.form-control#province(type="text", placeholder="Enter Province", (change)="changeEvent($event, 'province')", [value]="modelProvince")
    div.col-12.mb-2
        label(for="remark") Remark
        input.form-control#remark(placeholder="Type remarks", type="text", (change)="changeEvent($event, 'remark')")
    div.form-group.col-12.mb-2
        label(for="attachDoc") Attach Document
        input.form-control-file#attachDoc(type="file", #fileUpload, (change)="changeEvent($event, 'uploadFile')")
    div.col-12.mb-2
        button.btn.btn-primary.w-100(type="button", (click)="submitProc()", [disabled]="disabledBtn") Submit
    ng-http-loader(spinner="sk-three-bounce")
